# Archivos compilados y optimizados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de extensiones en C
*.so

# Carpetas y archivos de distribución/packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales (¡muy importante!)
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de PyInstaller
*.manifest
*.spec

# Logs del instalador
pip-log.txt
pip-delete-this-directory.txt

# Reportes de tests y cobertura de código
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Archivos de traducción
*.mo
*.pot

# Archivos y configuraciones específicas de Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Archivos y carpetas específicas de Flask
instance/
.webassets-cache

# Archivos de Scrapy
.scrapy

# Documentación generada por Sphinx
docs/_build/

# Carpeta de PyBuilder
target/

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Configuraciones de IPython
profile_default/
ipython_config.py

# Archivos de pyenv
.python-version

# Archivo de schedule de celery beat
celerybeat-schedule

# Archivos generados por SageMath
*.sage.py

# Archivos de dotenv (variables de entorno)
.env

# Configuraciones de Spyder
.spyderproject
.spyproject

# Configuraciones de Rope
.ropeproject

# Documentación de mkdocs
/site

# Cachés de mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Archivos de Pyre type checker
.pyre/
